/be/__pycache__
/be/model/__pycache__
/be/view/__pycache__
/fe/__pycache__
/fe/access/__pycache__
/fe/bench/__pycache__
/fe/test/__pycache__
/.idea
/htmlcov
/be/model/store.py
/.pytest_cache
/app.log
/.coverage
/fe/data/book_lx.db
/fe/bench/bench.log
